.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 350px;
}

.u-section-1 .u-group-1 {
  min-height: 84px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 54px;
  animation-duration: 1000ms;
  margin: 10px auto 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 31px;
  animation-duration: 1000ms;
  margin: -39px 3px 0 909px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 31px;
  margin: -20px 219px 0 238px;
}

.u-section-1 .u-group-2 {
  width: 202px;
  min-height: 267px;
  margin: -1px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 21px auto 0 14px;
  padding: 7px 59px 7px 58px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0 15px;
  padding: 7px 52px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0 15px;
  padding: 7px 56px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 20px auto 0 14px;
  padding: 7px 33px;
}

.u-section-1 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-1 .u-group-3 {
  width: 940px;
  min-height: 268px;
  margin: -268px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 738px;
  min-height: 101px;
  margin: 29px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 349px;
  margin: 4px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 7px 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -100px 30px 0 auto;
}

.u-section-1 .u-icon-5 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-group-1 {
    min-height: 122px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -30px;
    margin-right: 0;
    margin-left: 712px;
    height: auto;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 740px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -29px;
    margin-left: 492px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 678px;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 273px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 274px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 274px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 273px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10px;
    margin-left: 11px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -39px;
    margin-right: 4px;
    margin-left: 334px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 4px;
    width: 520px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 183px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    min-height: 184px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 187px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-2 {
    width: 320px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 83px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 84px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 84px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 83px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    min-height: 109px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 30px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 495px;
}

.u-section-2 .u-group-1 {
  min-height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 1098px;
  min-height: 458px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 21px 21px 0;
}

.u-section-2 .u-group-3 {
  width: 187px;
  min-height: 85px;
  margin: 188px auto 0 201px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 32px;
  width: 185px;
  margin: 12px 1px 0;
}

.u-section-2 .u-custom-html-2 {
  min-height: 32px;
  margin: 10px 5px -1px -1px;
}

.u-section-2 .u-group-4 {
  width: 187px;
  min-height: 85px;
  margin: -85px 201px 0 auto;
}

.u-section-2 .u-custom-html-3 {
  min-height: 32px;
  margin: 12px -5px 0 1px;
}

.u-section-2 .u-custom-html-4 {
  min-height: 32px;
  margin: 10px 5px -1px -1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-2 {
    width: 940px;
    min-height: 462px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 183px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
  }

  .u-section-2 .u-custom-html-3 {
    height: auto;
  }

  .u-section-2 .u-custom-html-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 635px;
  }

  .u-section-2 .u-group-2 {
    min-height: 614px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 283px;
    margin-left: 12px;
  }

  .u-section-2 .u-group-4 {
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-2 {
    min-height: 715px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    margin-top: 384px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-4 {
    min-height: 86px;
    margin-top: -86px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-2 {
    min-height: 815px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 5px;
    margin-right: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 299px;
}

.u-section-3 .u-group-1 {
  min-height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 0 0;
}

.u-section-3 .u-group-2 {
  width: 1098px;
  min-height: 240px;
  margin: 11px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  width: 463px;
  margin: 21px auto 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 44px;
  animation-duration: 2000ms;
  margin: 28px 808px 0 5px;
}

.u-section-3 .u-custom-html-2 {
  min-height: 44px;
  animation-duration: 2000ms;
  margin: -44px 604px 0 305px;
}

.u-section-3 .u-custom-html-3 {
  min-height: 44px;
  animation-duration: 2000ms;
  margin: -44px 313px 0 596px;
}

.u-section-3 .u-custom-html-4 {
  min-height: 44px;
  animation-duration: 2000ms;
  margin: -44px 33px 0 876px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 37px 325px 0 608px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -24px 888px 0 45px;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -24px 624px 0 325px;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -24px 45px 0 888px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-2 {
    min-height: 260px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-top: 48px;
    margin-right: 720px;
    margin-left: 7px;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
    margin-right: 498px;
    margin-left: 241px;
  }

  .u-section-3 .u-custom-html-3 {
    height: auto;
    margin-right: 242px;
    margin-left: 497px;
  }

  .u-section-3 .u-custom-html-4 {
    height: auto;
    margin-right: 3px;
    margin-left: 736px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 260px;
    margin-left: 515px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 754px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 524px;
    margin-left: 267px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 21px;
    margin-left: 754px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 404px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    min-height: 371px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 30px;
    margin-right: 382px;
    margin-left: 17px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 75px;
    margin-right: 401px;
    margin-left: 36px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 44px;
    margin-left: 409px;
  }

  .u-section-3 .u-custom-html-4 {
    margin-top: -163px;
    margin-right: 17px;
    margin-left: 382px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 140px;
    margin-right: 95px;
    margin-left: 460px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -143px;
    margin-right: 460px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 95px;
    margin-right: 460px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -143px;
    margin-right: 95px;
    margin-left: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-group-1 {
    min-height: 393px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 283px;
    margin-left: 13px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 77px;
    margin-right: 283px;
    margin-left: 13px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 14px;
    margin-left: 283px;
  }

  .u-section-3 .u-custom-html-4 {
    margin-top: -165px;
    margin-right: 14px;
    margin-left: 283px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 142px;
    margin-right: 53px;
    margin-left: 322px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -145px;
    margin-right: 323px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 97px;
    margin-right: 323px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -145px;
    margin-right: 53px;
    margin-left: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-group-1 {
    min-height: 550px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-group-2 {
    min-height: 528px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 51px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 294px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-2 {
    width: 295px;
    margin-top: 168px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-3 {
    width: 295px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-4 {
    width: 295px;
    margin-top: -256px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 159px;
    margin-top: 232px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 159px;
    margin-top: -344px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 159px;
    margin-top: 188px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: 159px;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 35px;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 2px;
  min-height: 33px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    height: auto;
  }
}