.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-1 .u-group-1 {
  min-height: 84px;
  margin-top: 0;
  margin-bottom: 0;
  width: 1140px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 29px 0 32px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 31px;
  animation-duration: 1000ms;
  margin: 25px 0 0 892px;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 54px;
  animation-duration: 1000ms;
  margin: -42px auto 0 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 31px;
  margin: -35px 200px 0 234px;
}

.u-section-1 .u-group-2 {
  width: 202px;
  min-height: 269px;
  margin: -2px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0;
  padding: 7px 59px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0 15px;
  padding: 7px 53px 7px 52px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0;
  padding: 7px 56px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 7px 33px;
}

.u-section-1 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-1 .u-group-3 {
  width: 940px;
  min-height: 827px;
  margin: -269px 0 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 880px;
  min-height: 235px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  width: 375px;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  text-transform: none;
  margin: 10px auto 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 44px;
  animation-duration: 1000ms;
  width: 235px;
  margin: 39px 305px 0 334px;
}

.u-section-1 .u-custom-html-4 {
  min-height: 44px;
  animation-duration: 1000ms;
  margin: -43px 48px 0 617px;
}

.u-section-1 .u-custom-html-5 {
  min-height: 44px;
  animation-duration: 2000ms;
  margin: -44px 605px 0 61px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 31px 625px 0 107px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -24px 351px 0 380px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -24px 61px 0 655px;
}

.u-section-1 .u-group-5 {
  width: 415px;
  min-height: 502px;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 11px 48px 0 49px;
}

.u-section-1 .u-custom-html-6 {
  min-height: 38px;
  width: 405px;
  animation-duration: 1000ms;
  margin: 26px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 28px 128px 0 129px;
}

.u-section-1 .u-custom-html-7 {
  min-height: 38px;
  width: 405px;
  animation-duration: 1000ms;
  margin: 26px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 27px auto 0;
}

.u-section-1 .u-custom-html-8 {
  min-height: 38px;
  width: 405px;
  animation-duration: 1000ms;
  margin: 26px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 28px auto 0;
}

.u-section-1 .u-custom-html-9 {
  min-height: 31px;
  animation-duration: 2000ms;
  width: 184px;
  margin: 28px auto 0;
}

.u-section-1 .u-group-6 {
  width: 415px;
  min-height: 502px;
  margin: -502px 30px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 2000ms;
  margin: 12px auto 0;
}

.u-section-1 .u-custom-html-10 {
  min-height: 48px;
  width: 405px;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-1 .u-icon-5 {
  font-size: 0.7em;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  text-transform: uppercase;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 37px auto 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-1 .u-icon-6 {
  font-size: 0.7em;
}

.u-section-1 .u-text-11 {
  margin: 59px 9px 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-1 .u-group-1 {
    min-height: 123px;
    width: 940px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 692px;
    height: auto;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: 2px;
    margin-right: 0;
    margin-left: 247px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -2px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-top: 40px;
    margin-right: 312px;
    margin-left: 328px;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    margin-top: -44px;
    margin-right: 50px;
    margin-left: 615px;
  }

  .u-section-1 .u-custom-html-5 {
    height: auto;
    margin-right: 598px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 631px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 143px;
    margin-right: 358px;
    margin-left: 374px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 67px;
    margin-left: 648px;
  }

  .u-section-1 .u-custom-html-6 {
    height: auto;
  }

  .u-section-1 .u-custom-html-7 {
    height: auto;
  }

  .u-section-1 .u-custom-html-8 {
    height: auto;
  }

  .u-section-1 .u-custom-html-9 {
    height: auto;
  }

  .u-section-1 .u-custom-html-10 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1751px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 474px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 5px;
    margin-left: 217px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 1363px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 227px;
    margin-left: 252px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 0;
    margin-left: 505px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 493px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 526px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -22px;
    margin-right: 281px;
    margin-left: 291px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -26px;
    margin-right: 13px;
    margin-left: 543px;
  }

  .u-section-1 .u-group-5 {
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: -10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 333px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 3px;
  }

  .u-section-1 .u-group-3 {
    margin-bottom: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
    min-height: 377px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 534px;
    margin-top: 107px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    width: 534px;
    margin-top: 57px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-5 {
    width: 534px;
    margin-top: -246px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 77px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 168px;
    margin-top: 77px;
    margin-left: 183px;
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2019px;
  }

  .u-section-1 .u-group-1 {
    min-height: 185px;
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 184px;
    margin-top: 71px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -91px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-2 {
    width: 336px;
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 1491px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 334px;
    margin-top: 117px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 334px;
    margin-top: 53px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 334px;
    margin-top: -238px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: 106px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 138px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 11px;
    margin-left: 44px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: 157px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-7 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-10 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 106px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  min-height: 106px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}