.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 350px;
}

.u-section-1 .u-group-1 {
  min-height: 84px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 54px;
  animation-duration: 1000ms;
  margin: 13px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 202px;
  min-height: 267px;
  margin: -1px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 21px auto 0 14px;
  padding: 7px 59px 7px 58px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0 15px;
  padding: 7px 52px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0 15px;
  padding: 7px 56px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 20px auto 0 14px;
  padding: 7px 33px;
}

.u-section-1 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-1 .u-group-3 {
  width: 940px;
  min-height: 268px;
  margin: -268px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 738px;
  min-height: 101px;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 293px;
  margin: 4px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 7px 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -101px 30px 0 auto;
}

.u-section-1 .u-icon-5 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-group-3 {
    min-height: 266px;
    width: 740px;
    margin-top: -266px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 273px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 274px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 274px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 273px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -2px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 183px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-group-1 {
    min-height: 180px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 83px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 84px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 84px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 83px;
  }

  .u-section-1 .u-group-3 {
    min-height: 348px;
    margin-top: -1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    min-height: 177px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-5 {
    margin: 32px 27px -12px auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-group-1 {
  min-height: 500px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 500px;
  min-height: 458px;
  margin: 21px auto 0 21px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 21px 21px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 24px auto 0 128px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-2 .u-group-3 {
  width: 500px;
  min-height: 458px;
  margin: -458px 21px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 21px 21px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-2 .u-icon-2 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-group-1 {
    min-height: 957px;
    margin-top: -1px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-2 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 948px;
  }

  .u-section-2 .u-group-2 {
    min-height: 434px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1039px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .u-section-2 .u-group-2 {
    min-height: 496px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    min-height: 491px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}