.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-group-1 {
  min-height: 237px;
  width: 577px;
  margin: 140px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 14px 109px 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  line-height: 1;
  margin: 18px 10px 0 20px;
}

.u-section-1 .u-image-1 {
  width: 586px;
  height: 449px;
  margin: -332px 0 45px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 470px;
    min-height: 298px;
    margin-top: 121px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 444px;
    height: 340px;
    margin-top: -319px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    min-height: 345px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 367px;
    margin-top: -345px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-group-1 {
    width: 295px;
    min-height: 331px;
    margin-top: 35px;
    margin-right: 230px;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    height: 267px;
    margin-top: -306px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 255px;
    min-height: 298px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-1 {
    height: 205px;
    margin-top: -517px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
  min-height: 592px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 437px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -717px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-image-2 {
  height: 282px;
  object-position: 40.01% 52.29%;
  background-position: 20.44% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 39px;
  padding-right: 0;
}

.u-section-2 .u-group-1 {
  min-height: 277px;
  margin-top: 138px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 16px 0 0;
}

.u-section-2 .u-image-3 {
  width: 412px;
  height: 128px;
  margin: -623px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-2 .u-image-2 {
    object-position: 20.44% 100%;
    height: 233px;
    margin-top: 62px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 263px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -533px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 568px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 311px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -539px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 476px;
    z-index: 0;
  }

  .u-section-2 .u-image-2 {
    height: 178px;
    margin-top: 61px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 476px;
    z-index: 2;
  }

  .u-section-2 .u-group-1 {
    min-height: 421px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -574px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 697px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-2 .u-image-2 {
    object-position: 20.44% 50.06%;
    height: 210px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-group-1 {
    min-height: 257px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-3 {
    margin-top: -1599px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 491px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -432px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-2 .u-image-2 {
    object-position: 20.44% 46.71%;
    height: 115px;
    margin-top: 14px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-group-1 {
    min-height: 264px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: -9px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 106px;
    margin-top: -574px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-3 .u-sheet-1 {
  min-height: 509px;
}

.u-section-3 .u-text-1 {
  margin: 80px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 21px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 239px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 55px;
  width: 295px;
  margin: 57px 15px 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 48px 3px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 239px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 0;
}

.u-section-3 .u-custom-html-2 {
  min-height: 55px;
  margin: 57px 4px 0 1px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 48px 6px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 239px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 7px;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-custom-html-3 {
  min-height: 55px;
  margin: 57px 26px 0 19px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 48px 7px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 10px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -45px auto 0 108px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -45px 113px 35px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
    margin-right: 42px;
    margin-left: 40px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-custom-html-3 {
    height: auto;
    width: 226px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 74px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 43px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 184px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 43px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 43px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 53px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -46px;
    margin-left: 38px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 43px;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 109px;
    padding: 10px 1px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -102px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 69px;
    margin-right: auto;
    margin-bottom: 23px;
    padding: 10px 35px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 27px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 64px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 64px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 42px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 183px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 9px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 98px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -111px;
    padding: 10px 42px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 87px;
    margin-bottom: 36px;
    padding-left: 47px;
    padding-right: 47px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 658px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  width: 563px;
  min-height: 358px;
  margin: 0 8px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  margin: 16px -16px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 73px;
  min-height: 16px;
  width: 73px;
  min-width: 16px;
  margin: 49px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(92, 107, 192) !important;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 658px;
}

.u-section-4 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 284px;
  height: 284px;
  margin: -137px 1px 0 auto;
}

.u-section-4 .u-custom-html-1 {
  min-height: 507px;
  width: 340px;
  margin: -71px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 594px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 543px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 583px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -33px;
    margin-right: 0;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -175px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
  }

  .u-section-4 .u-group-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
  }

  .u-section-4 .u-group-1 {
    width: 544px;
    min-height: 364px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 55px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 880px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-4 .u-group-1 {
    min-height: 250px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: -213px;
    margin-right: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -2078px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 67px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 67px;
  margin: 0 570px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    width: 470px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-custom-html-1 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-custom-html-1 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-custom-html-1 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 264px;
}

.u-section-6 .u-text-1 {
  width: 580px;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 580px;
  margin: 10px auto 0;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  white-space: nowrap;
  margin: 25px auto 60px;
}

.u-section-6 .u-icon-1 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(63, 114, 155) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(255, 69, 0) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-6 .u-icon-5 {
  height: 100%;
  color: rgb(80, 171, 241) !important;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 26px;
    margin-bottom: 59px;
  }
}