.u-section-1 .u-sheet-1 {
  min-height: 1902px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1872px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 21px 3px;
}

.u-section-1 .u-group-1 {
  width: 296px;
  min-height: 78px;
  margin: 10px auto 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 103px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 296px;
  min-height: 176px;
  margin: 10px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 168px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 296px;
  min-height: 176px;
  margin: 30px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 102px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 296px;
  min-height: 102px;
  margin: 30px auto 0 20px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 37px 0 0;
}

.u-section-1 .u-btn-10 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 296px;
  min-height: 65px;
  margin: 30px auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 215px 0 0;
}

.u-section-1 .u-btn-12 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 296px;
  min-height: 139px;
  margin: 30px auto -10px 20px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 0 220px 0 0;
}

.u-section-1 .u-btn-13 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  margin: 10px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1872px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 -58px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-video-1 {
  width: 399px;
  height: 224px;
  margin: 18px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px 22px 0 7px;
}

.u-section-1 .u-text-10 {
  margin: 14px 7px 0 8px;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 782px;
  height: 278px;
  margin: 29px 9px 0 7px;
}

.u-section-1 .u-text-11 {
  margin: 30px 5px 0 9px;
}

.u-section-1 .u-image-2 {
  width: 341px;
  height: 901px;
  margin: 10px auto 0 221px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1544px;
  }

  .u-section-1 .u-group-1 {
    width: 282px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 52px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 282px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 154px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 11px;
    margin-left: 1px;
  }

  .u-section-1 .u-group-3 {
    width: 282px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 282px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 23px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 3px;
  }

  .u-section-1 .u-group-5 {
    width: 276px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 169px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 3px;
  }

  .u-section-1 .u-group-6 {
    width: 276px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 172px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 3px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1544px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 30px;
    margin-left: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 216px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
    padding-right: 3px;
    padding-left: 2px;
  }

  .u-section-1 .u-group-2 {
    width: 216px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 9px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.75rem;
    margin-left: 11px;
  }

  .u-section-1 .u-group-3 {
    width: 216px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.75rem;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-8 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-group-4 {
    width: 216px;
    min-height: 109px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-11 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-group-5 {
    width: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 79px;
  }

  .u-section-1 .u-btn-12 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-group-6 {
    width: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 79px;
  }

  .u-section-1 .u-btn-13 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-14 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-15 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 179px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2563px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 928px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 162px;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 62px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 62px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 62px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 62px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 62px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 62px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 121px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 898px;
  }
}